<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,45},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>block_flm.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>block_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>block_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_objects.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad97170decfc2d8aa2685d436dd09d74:ceff22922bfab1fda2439a34a72d388d:6c749795dce2aeae3cd06ee82029a45f$</string>
            <key>textureFileName</key>
            <string>game_objects.png</string>
        </dict>
    </dict>
</plist>
